* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-cyan: hsl(180, 66%, 49%);
  --color-light-cyan: #9be3e2;
  --color-violet: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-gray: hsl(0, 0%, 75%);
  --color-gray-violet: hsl(257, 7%, 63%);
  --color-hard-blue: hsl(255, 11%, 22%);
  --color-hard-violet: hsl(260, 8%, 14%);
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

header {
  padding: 40px 8vw 0 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.container {
  overflow-x: hidden;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  max-width: 1440px;
}

nav .logo {
  width: 105px;
  height: 30px;
}

nav .menu {
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  background-color: var(--color-violet);
  width: 100%;
  top: 50px;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
  padding: 0 30px;
}

nav .menu.smooth {
  transition: all 0.2s ease-in-out;
}
nav .menu.show {
  transform: scaleY(1);
}

nav .menu .buttons {
  border-top: 1px solid hsl(257, 32%, 43%);
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav ul li {
  width: 100%;
}
nav ul li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}

nav ul li:hover {
  background-color: hsl(258deg 22% 34%);
  border-radius: 50px;
}

nav .menu .buttons .button {
  padding: 12px 15px;
  display: block;
}

.toggleNav {
  width: 25px;
  cursor: pointer;
}

.toggleNav:after,
.toggleNav:before,
.toggleNav div {
  background-color: var(--color-gray-violet);
  content: '';
  display: block;
  height: 3px;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}

.show.toggleNav:before {
  transform: translateY(8px) rotate(135deg);
}

.show.toggleNav:after {
  transform: translateY(-8px) rotate(-135deg);
}

.show.toggleNav div {
  transform: scale(0);
}

h1 {
  font-size: 3rem;
  color: var(--color-hard-blue);
}

main {
  width: 100%;
  max-width: 1500px;
  margin-top: 50px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.main__content {
  padding: 30px 8vw 0 8vw;
  text-align: center;
}

.main__content p {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.main__img {
  width: 120%;
  max-width: 400px;
  transform: translateX(23%);
}

.button {
  border-radius: 50px;
  background-color: var(--color-cyan);
  padding: 8px 25px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  font-family: inherit;
}

.button:hover {
  background-color: var(--color-light-cyan);
  color: #fff;
}

.links__form__container {
  padding: 0 8vw 0 8vw;
  display: flex;
  justify-content: center;
}

.links__form__container .links__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  border-radius: 6px;
  transform: translateY(50%);
  background-color: var(--color-violet);
  background-image: url(images/bg-shorten-mobile.svg);
  background-size: calc(100% - 100px) 70%;
  background-repeat: no-repeat;
  background-position: top right;
}

.links__form__container input {
  padding: 20px;
  border: none;
  font-family: inherit;
  border-radius: 6px;
}

input.danger {
  border: 3px solid var(--color-red);
}
input.danger::placeholder {
  color: var(--color-red);
}
.links__form .button {
  margin-top: 15px;
  padding: 15px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.6rem;
  order: 2;
}

.links__form .error {
  color: var(--color-red);
  font-style: italic;
  font-size: 1.5rem;
  display: none;
}

.shortUrl-container {
  background-color: #f0f1f6;
  padding: 100px 8vw 0 8vw;
}

.shortUrl-box {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.shortUrl-box:not(:last-child) {
  margin-bottom: 20px;
}
.shortUrl--link {
  padding: 10px 15px;
  font-size: 1.3rem;
  color: #000;
}
.shortUrl--refLink {
  padding: 10px 15px;
  font-size: 1.3rem;
  color: var(--color-cyan);
}
.shortUrl-box .button {
  padding: 10px;
  margin: 0 15px 10px 15px;
  display: block;
  font-size: 1.3rem;
  border-radius: 6px;
  text-align: center;
}

.shortUrl-box hr {
  width: 100%;
  background-color: #e5e5e5;
  height: 1px;
  border: none;
}

@media all and (min-width: 637px) {
  .toggleNav {
    display: none;
  }
  nav .menu {
    position: relative;
    background-color: #fff;
    display: flex;
    top: 0px;
    transform: scaleY(1);
    transition: none;
    padding: 0px;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
  }
  nav ul li {
    width: auto;
    padding: 0 20px;
  }

  nav ul li a {
    color: var(--color-gray-violet);
    padding: 0 0 2px 0;
    position: relative;
    margin: 0;
  }
  nav ul li a:hover {
    color: var(--color-hard-violet);
  }
  nav ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-cyan);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: all 0.2s;
  }
  nav ul li a:hover::after {
    transform-origin: bottom right;
    transform: scaleX(1);
  }
  nav ul li:hover {
    background: none;
    border-radius: none;
  }

  nav .menu .buttons {
    border-top: none;
    flex: 1;
    margin: 0px;
    justify-content: flex-end;
  }

  nav .menu .buttons .button {
    padding: 8px 15px;
  }
  nav .menu .buttons .button::after {
    display: none;
  }

  main {
    flex-direction: row;
    align-items: flex-end;
  }
  .main__content {
    align-self: center;
    text-align: left;
    padding: 0 0 0 8vw;
  }
  h1 {
    font-size: 4vw;
    line-height: 5vw;
  }
  .main__img {
    width: 120%;
    max-width: 50vw;
    transform: translateX(12vw);
  }
  .links__form__container .links__form {
    flex-flow: row wrap;
    align-items: center;
    background-image: url(images/bg-shorten-desktop.svg);
    background-size: 100% 100%;
    padding: 35px 45px;
  }
  .links__form__container input {
    padding: 13px;
    flex: 1;
    margin-bottom: 0;
  }
  .links__form__container .links__form .button {
    padding: 11px 20px;
    margin: 0px 0px 0px 12px;
    order: 0;
  }
  .links__form .error {
    flex: 1 1 100%;
  }

  .shortUrl-box {
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
  }

  .shortUrl-box hr {
    display: none;
  }

  .shortUrl--link {
    flex: 1;
  }
  .shortUrl-box .button {
    padding: 5px 20px;
    margin: 0;
  }
  .features--content p {
    width: 50%;
  }
}

/*Part 2*/

.features--container {
  background-color: #f0f1f6;
  padding: 100px 8vw 0 8vw;
}

.features--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features--content h2 {
  color: var(--color-hard-blue);
}

.features--content p {
  color: var(--color-gray-violet);
  font-weight: 500;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 20px;
}

.featureList {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.feature--line {
  position: absolute;
  width: 10px;
  height: calc(100% - 50px);
  background-color: var(--color-cyan);
  left: 50%;
  transform: translateX(-50%);
}
.featureBox {
  padding: 40px 20px;
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 8px;
  margin: 40px 0;
  background-color: #fff;
}

.feature--icon {
  background-color: var(--color-violet);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature--icon img {
  width: 100%;
  height: 100%;
}

.feature--title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  display: block;
  color: var(--color-hard-blue);
}

.feature--info {
  font-size: 1.5rem;
  color: var(--color-gray-violet);
}

.boost--container {
  background-color: #f0f1f6;
  padding: 100px 0 0 0;
}

.boost--content {
  padding: 50px;
  text-align: center;
  background-color: var(--color-violet);
  background-image: url('images/bg-boost-mobile.svg');
  background-size: 100% 100%;
}
.boost--content .title {
  font-weight: 700;
  font-size: 2.3rem;
  padding: 15px 0;
  color: #fff;
  display: block;
}
.boost--content .button {
  display: inline-block;
  margin-bottom: 15px;
}

.footer--container {
  background-color: var(--color-hard-violet);
}
.footer--content {
  padding: 40px 8vw 50px 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer--content .title {
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 3.3rem;
}
.footer--content .subTitle {
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.footer--content a.links {
  color: #c9c7ca;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 10px;
}
.footer--content a.links:hover {
  color: var(--color-cyan);
}
.list--container {
  display: flex;
  flex-direction: column;
}
.list--container .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.social--container a {
  padding: 0 10px;
}
@media all and (min-width: 637px) {
  .footer--content {
    flex-direction: column;
    align-items: center;
  }
  .list--container {
    margin-top: 30px;
    flex-direction: row;
  }
  .social--container {
    margin-top: 30px;
  }
  .list--container .list {
    margin: 0 20px;
    align-items: flex-start;
  }
  .boost--content {
    background-image: url('images/bg-boost-desktop.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
  }
  .boost--content .title {
    font-size: 3.3rem;
  }
}

@media all and (min-width: 900px) {
  .footer--content {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer--content .title {
    flex: 1;
  }
  .list--container {
    margin-top: 0px;
  }
  .footer--container .list:not(:first-child) {
    margin-left: 40px;
  }
  .social--container {
    margin-top: 0px;
    margin-left: 30px;
  }
  .featureList {
    margin-top: 90px;
    flex-direction: row;
  }
  .featureBox {
    margin: 0 10px;
    height: 100%;
    text-align: left;
  }
  .feature--icon {
    left: 60px;
  }
  .featureBox:nth-child(3) {
    margin-top: 40px;
  }
  .featureBox:nth-child(4) {
    margin-top: 80px;
  }
  .feature--line {
    position: absolute;
    width: calc(100% - 50px);
    height: 10px;
    background-color: var(--color-cyan);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
