* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-cyan: hsl(180, 66%, 49%);
  --color-light-cyan: #9be3e2;
  --color-violet: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-gray: hsl(0, 0%, 75%);
  --color-gray-violet: hsl(257, 7%, 63%);
  --color-hard-blue: hsl(255, 11%, 22%);
  --color-hard-violet: hsl(260, 8%, 14%);
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

header {
  padding: 40px 20px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  overflow-x: hidden;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  max-width: 1440px;
}

nav .logo {
  width: 105px;
  height: 30px;
}

nav .menu {
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  background-color: var(--color-violet);
  width: 100%;
  top: 50px;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
  padding: 0 30px;
}

nav .menu.smooth {
  transition: all 0.2s ease-in-out;
}
nav .menu.show {
  transform: scaleY(1);
}

nav .menu .buttons {
  border-top: 1px solid hsl(257, 32%, 43%);
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav ul li {
  width: 100%;
}
nav ul li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
}

nav ul li:hover {
  background-color: hsl(258deg 22% 34%);
  border-radius: 50px;
}

nav .menu .buttons .button {
  padding: 12px 15px;
}

.toggleNav {
  width: 25px;
  cursor: pointer;
}

.toggleNav:after,
.toggleNav:before,
.toggleNav div {
  background-color: var(--color-gray-violet);
  content: '';
  display: block;
  height: 3px;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}

.show.toggleNav:before {
  transform: translateY(8px) rotate(135deg);
}

.show.toggleNav:after {
  transform: translateY(-8px) rotate(-135deg);
}

.show.toggleNav div {
  transform: scale(0);
}

h1 {
  font-size: 3rem;
}

main {
  width: 100%;
  max-width: 1500px;
  margin-top: 50px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.main__content {
  padding: 30px 30px 0 30px;
  text-align: center;
}

.main__content p {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.main__img {
  width: 120%;
  max-width: 400px;
  transform: translateX(23%);
}

.button {
  border-radius: 50px;
  background-color: var(--color-cyan);
  padding: 8px 25px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  font-family: inherit;
}

.button:hover {
  background-color: var(--color-light-cyan);
  color: #fff;
}

.links__form__container {
  padding: 0 20px 0 20px;
}

.links__form__container input {
  padding: 20px;
  border: none;
  font-family: inherit;
  border-radius: 6px;
  margin-bottom: 15px;
}

.links__form__container .links__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  transform: translateY(50%);
  background-color: var(--color-violet);
}

.links__form__container .links__form .button {
  padding: 15px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.6rem;
}

.shorten-container {
  background-color: #f0f1f6;
  padding: 100px 20px 0 20px;
}

.features {
  background-color: #f0f1f6;
  height: 90vh;
  padding: 60px 20px 0 20px;
}

@media all and (min-width: 637px) {
  .toggleNav {
    display: none;
  }
  nav .menu {
    position: relative;
    background-color: #fff;
    display: flex;
    top: 0px;
    transform: scaleY(1);
    transition: none;
    padding: 0px;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
  }
  nav ul li {
    width: auto;
    padding: 0 20px;
  }

  nav ul li a {
    color: var(--color-gray-violet);
    padding: 0 0 2px 0;
    position: relative;
    margin: 0;
  }
  nav ul li a:hover {
    color: var(--color-hard-violet);
  }
  nav ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-cyan);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: all 0.2s;
  }
  nav ul li a:hover::after {
    transform-origin: bottom right;
    transform: scaleX(1);
  }
  nav ul li:hover {
    background: none;
    border-radius: none;
  }

  nav .menu .buttons {
    border-top: none;
    flex: 1;
    margin: 0px;
    justify-content: flex-end;
  }

  nav .menu .buttons .button {
    padding: 8px 15px;
  }
  nav .menu .buttons .button::after {
    display: none;
  }
  header {
    padding: 40px 20px 0 40px;
  }
  main {
    flex-direction: row;
    align-items: flex-end;
    margin: 50px 0px 0px 40px;
  }
  .main__content {
    align-self: center;
    text-align: left;
    padding: 0;
  }
  h1 {
    font-size: 5.5vw;
    line-height: 6.5vw;
  }
  .main__img {
    width: 120%;
    max-width: 50vw;
    transform: translateX(5vw);
  }
}
