* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-cyan: hsl(180, 66%, 49%);
  --color-violet: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-gray: hsl(0, 0%, 75%);
  --color-gray-violet: hsl(257, 7%, 63%);
  --color-hard-blue: hsl(255, 11%, 22%);
  --color-hard-violet: hsl(260, 8%, 14%);
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 40px 20px 0 20px;
}

.main {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav .logo {
  width: 105px;
  height: 30px;
}

nav .menu {
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  left: 0;
  background-color: var(--color-violet);
  width: 100%;
  top: 50px;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
}

nav .menu.hide {
  transition: all 0.2s ease-in-out;
}
nav .menu.show {
  transition: all 0.2s ease-in-out;
  transform: scaleY(1);
}

nav .menu .buttons {
  border-top: 1px solid hsl(257, 32%, 43%);
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav ul li {
  width: 100%;
}
nav ul li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px 0;
  margin: 0 30px;
  text-decoration: none;
}

nav ul li:hover {
  background-color: hsl(258deg 22% 34%);
  border-radius: 50px;
}

nav .menu .buttons .button {
  padding: 12px 15px;
}

.toggleNav {
  width: 25px;
  cursor: pointer;
}

.toggleNav:after,
.toggleNav:before,
.toggleNav div {
  background-color: var(--color-gray-violet);
  content: '';
  display: block;
  height: 3px;
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}

.show.toggleNav:before {
  transform: translateY(8px) rotate(135deg);
}

.show.toggleNav:after {
  transform: translateY(-8px) rotate(-135deg);
}

.show.toggleNav div {
  transform: scale(0);
}

.button {
  border-radius: 50px;
  background-color: var(--color-cyan);
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
}

@media all and (min-width: 637px) {
  .toggleNav {
    display: none;
  }
  nav .menu {
    position: relative;
    background-color: #fff;
    display: flex;
    top: 0px;
    transform: scaleY(1);
    transition: none;
    padding: 0px;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
  }
  nav ul li {
    width: auto;
    padding: 0 20px;
  }

  nav ul li a {
    color: var(--color-gray-violet);
    padding: 0 0 2px 0;
    position: relative;
  }
  nav ul li a:hover {
    color: var(--color-hard-violet);
  }
  nav ul li a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-cyan);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: all 0.2s;
  }
  nav ul li a:hover::after {
    transform-origin: bottom right;
    transform: scaleX(1);
  }

  nav .menu .buttons {
    border-top: none;
    flex: 1;
    margin: 0px;
    justify-content: flex-end;
  }

  nav .menu .buttons .button {
    padding: 8px 15px;
  }
  nav .menu .buttons .button::after {
    display: none;
  }
}
